.button {
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}
.tab-pane .tab:selected
{
    -fx-background-color: #b3b9bf;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2514bb;
    -fx-font-size: 13px;
}

.tab .tab-label {
    -fx-rotate: 90;
    -fx-alignment: CENTER;
    -fx-text-fill: #5f6062;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-height:140px;
    -fx-tab-max-heights:140px;
    -fx-tab-max-width:110px;
    -fx-tab-min-width:110px;
    -fx-background-insets: 3 3 3 3,2;
}

.tab{
    -fx-background-insets: 0 5 5 5;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #babab8;
    -fx-focus-color: transparent;
}
.tab:selected {
    -fx-background-insets: 0 5 0 5;
    -fx-background-radius: 10 10 0 0;
}
.alap1{
    -fx-background-color: #b3b9bf;
    -fx-background-insets: 10 0 32 0,2;
    -fx-background-radius: 0 10 10 10;
}
.alap2{
    -fx-background-color: #b3b9bf;
    -fx-background-insets: 10 0 32 0,2;
    -fx-background-radius: 10 10 10 10;
}
.alap3{
    -fx-background-color: #b3b9bf;
    -fx-background-insets: 10 0 32 0,2;
    -fx-background-radius: 10 10 10 10;
}
.alap4{
    -fx-background-color: #b3b9bf;
    -fx-background-insets: 10 0 32 0,2;
    -fx-background-radius: 10 10 10 0;
}
.cim{
    -fx-background-color: #7eb0c2;
}

